$welcomeNavbar: #262f43;
$welomeBodyColor: #232b3d;
$welcomeNavbarWhite: #fff;

$welcomeImageLogoWidth: 18%;

$bondText0: #007bff;
$bondText1: tomato;
$bondText2: forestgreen; 

$btnBorder: #007bff;

$marginLeftsideForAll: 260px;

@mixin homesidebar() {
    width: 260px;
    background-color: #232b3d;
    box-shadow: 0 0 30px 0 rgba(76, 147, 230, 0.1);
}

$homenavbarcolor: #232b3d;