@import '../../assets/scss/variable.scss';

.main-div {
    margin-left: $marginLeftsideForAll; /* Same as the width of the sidenav */
    padding: 0px 10px;
    background-color: #fcfdff;
}


.body-title {
    font-family: Poppins;
  font-size: 16.2px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: 0.5px;
  color: #232d41;
}


// balances cards
div.card.acex-bal-card-0 {
    // width: 210.6px;
    height: auto;
    border-radius: 9px;
    background-color: #242e42;
    box-shadow: -12px 13px 26px 0 rgba(25, 33, 48, 0.16);
}

p.acex-p-0 {
    width: 100%;
  height: 24px;
  font-family: Poppins;
  font-size: 14.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: var(--clear-blue);
  color: #1f8efa;
//   margin-top:3px;
  margin-left: 2.5%;
}

p.acex-p-1 {
    width: 100%;
    height: 41px;
    font-family: Poppins;
    font-size: 25.2px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    // margin-top: 50px;
}


.Mask {
    width: 120px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom, #3cd1ff, #1ca5ff);
    background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to bottom, #3cd1ff, #1ca5ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  

  //my
  .Mask1 {

    width: 210.6px;
  
    height: 157.3px;
  
    border-radius: 9px;
  
    background-color: #242e42;
  
    box-shadow: -12px 13px 26px 0 rgba(25, 33, 48, 0.16);
  
  }


  .bitcoin {

    width: 26px;
  
    height: 26px;
  
    object-fit: contain;
  
  }

  .blue-text {
        width: 68px;
        height: 24px;
        font-family: Poppins;
        font-size: 14.4px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        color: #1f8efa;
        color: var(--clear-blue);
      }
  
      .Mask2 {
        width: 120px;
        height: 30px;
        object-fit: contain;
        border-radius: 2px;
        border: solid 2px transparent;
        background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom, #3cd1ff, #1ca5ff);
        background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to bottom, #3cd1ff, #1ca5ff);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
      .mask-button {
        object-fit: contain;
        border: solid 3px;
        border-color: #1ca5ff;
        background: transparent;
        border-radius: 5px;
      }
