<div class="container">
  
  <div class="row justify-content-md-center acex-auth-row">
    <div class="col col-md-5">
      <div class="card">
        <div class="card-body">
          
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><b class="acex-login-text">Reset Password</b></ng-template>
              <ng-template ngbTabContent>
                
                <div class="md-form">
                  <input [(ngModel)]="password" mdbInputDirective type="password" id="password" class="form-control" required>
                  <label for="password" class="">Password</label>
                </div>
                <div class="md-form">
                  <input [(ngModel)]="cpassword" mdbInputDirective type="password" id="cpassword" class="form-control" required>
                  <label for="cpassword" class="">Re-enter Password</label>
                </div>
                
                <div class="text-center">
                  <button type="button"  (click)="reset()" class="btn waves-light acex-btn-signin" mdbWavesEffect>RESET PASSWORD</button>
                </div>
                <div class="text-center">
                    Already have a password? <a routerLink="/auth" class="forgot-user">Sign in.</a>
                </div>
                
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  

</div>