<main>
    <div class="center container main-container">
        <div c  lass="row main-row">
            <article class="center">
                <h1 style="padding-bottom: 30px">We&rsquo;ll be back soon!</h1>
                <div class="center">
                    <img src="../../../assets/images/maintenance.svg" width="256" height="256" class="center" style="padding-bottom: 30px">
                    <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you
                        can always <a href="mailto:junaid@acextrade.com">contact us</a>, otherwise we&rsquo;ll be back online
                        shortly!</p>
                    <p>&mdash; Team AceX</p>
                </div>
            </article>
        </div>
    </div>
</main>`