<header class="h-100">
    <!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>AceX Trade</strong></a>
        </mdb-navbar-brand>
    </mdb-navbar> -->
    <!-- Main -->
    <div class="acex-div">
      <div class="acex-logo-0">  
          <img src="assets/images/logo.svg" class="acex-logo">
      </div>
    </div>
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-black-light flex-center">
              <div class="container white-text">
                  <div class="white-text wow fadeInUp">
                    <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6">
                      <div class="card auth-card">
                        <div class="card-body">
                        <h4 class="message">{{message?message:''}}</h4>
                        <div class="text-center">
                          <a routerLink="/auth/login" class="new-user">Go to Login</a>
                        </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- /.Main -->
  </header>