<div mdbModal #buyAcex="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybuyModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b class="text-center acex-login-text" id="myModalLabel">BUY ACEX</b>
        <button type="button" class="close pull-right" aria-label="Close" (click)="buyAcex.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" [formGroup]="buyForm">
        <div class="form-group">
          <label for="currency">Currency</label>
          <select mdbInputDirective [successMessage]="' '" [errorMessage]="' '" (input)="checkBalance($event.target.value)" class="form-control" id="currency" formControlName="currency">
            <!--<option value="" disabled selected>Currency</option>-->
            <option value="btc">Bitcoin</option>
            <option value="eth">Ethereum</option>
            <option value="ltc">Litecoin</option>
          </select>
        </div>
        <div *ngIf="currency" class="md-form">
          <label for="amountOfAcex">Amount of AceX Tokens*</label>
          <input mdbInputDirective class="form-control" (input)="amountOfCurrency($event.target.value)" type="number" id="amountOfAcex"
            formControlName="amountOfAcex" [successMessage]="' '" [errorMessage]="'Invalid Input'"/>
          <div>
            <p><em>Required: {{ prefixNosByFix(this.amountOfCurrencyReq) }} {{ this.f.currency.value | uppercase }} </em></p>
            <p><em>Balance: {{ this.balanceUsd | number : '1.0-2'}} USD</em></p>
            <p><em>Max Tokens that can be purchased: {{ this.maxAcexTokens }}</em></p>
            <p><em>*Mininum investment required is 10$.</em></p>
          </div>
        </div>
        <div *ngIf="currency" class="modal-footer text-center md-form">
          <button type="submit" (click)="buyAcexTokens()" class="btn waves-light acex-btn-signin" mdbWavesEffect>Buy Tokens</button>
        </div>
      </div>
    </div>
  </div>
</div>
