<app-homenavs></app-homenavs>
<!--Main Layout-->
<main class="main-div">

    <div class="container main-container">
        <div class="row" style="margin-top: 2%">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <p class="body-title">MY BALANCES</p>
                        <hr>
                        <div class="row">
                            <div class="col col-md-3">
                                <div class="card acex-bal-card-0">
                                    <div class="card-body text-center">

                                        <p class="acex-p-0"><img src="assets/img/bitcoin.svg"
                                                                 class="bitcoin">&nbsp;&nbsp;BITCOIN</p>

                                        <p *ngIf="balance" class="acex-p-1">
                                            {{ balance.btc ? prefixNosByFix(balance.btc) : '0' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="card acex-bal-card-0">
                                    <div class="card-body text-center">

                                        <p class="acex-p-0"><img src="assets/img/ethereum.svg"
                                                                 class="ethereum">&nbsp;&nbsp;ETHEREUM</p>

                                        <p *ngIf="balance" class="acex-p-1">
                                            {{ balance.eth ? prefixNosByFix(balance.eth) : '0' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="card acex-bal-card-0">
                                    <div class="card-body text-center">

                                        <p class="acex-p-0"><img src="assets/img/litecoin.svg"
                                                                 class="litecoin">&nbsp;&nbsp;LITECOIN</p>

                                        <p *ngIf="balance" class="acex-p-1">
                                            {{ balance.ltc ? prefixNosByFix(balance.eth) : '0' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="card acex-bal-card-0">
                                    <div class="card-body text-center">

                                        <p class="acex-p-0"><img src="assets/img/ace-x.svg"
                                                                 class="ace-x">&nbsp;&nbsp;ACEX</p>

                                        <p *ngIf="balance" class="acex-p-1">
                                            {{ balance.acex ? prefixNosByFix(balance.acex) : '0' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 2%">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <p class="body-title">BONUS STRUCTURE
                            <button type="button" id="buyAcex" (click)="buyAcexTokens()"
                            class="btn waves-light acex-btn-buy-0" mdbWavesEffect>BUY TOKENS
                            </button>
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>Sale Round</th>
                                        <th><em>$0 to $200</em></th>
                                        <th><em>$200 to $2,000</em></th>
                                        <th><em>$2,000 to $20,000</em></th>
                                        <th><em>$20,000 to $200,000</em></th>
                                        <th><em>$200,000 to $1,000,000</em></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Private Sale</td>
                                        <td><em>80%</em></td>
                                        <td><em>100%</em></td>
                                        <td><em>110%</em></td>
                                        <td><em>130%</em></td>
                                        <td><em>160%</em></td>
                                    </tr>
                                    <tr>
                                        <td>Pre Sale</td>
                                        <td><em>50%</em></td>
                                        <td><em>70%</em></td>
                                        <td><em>80%</em></td>
                                        <td><em>100%</em></td>
                                        <td><em>130%</em></td>
                                    </tr>
                                    <tr>
                                        <td>Public Sale</td>
                                        <td><em>10%</em></td>
                                        <td><em>30%</em></td>
                                        <td><em>40%</em></td>
                                        <td><em>60%</em></td>
                                        <td><em>90%</em></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <p class="body-title">STEPS TO BUY ACEX
                            <button type="button" id="buyAcex" (click)="buyAcexTokens()"
                                    class="btn waves-light acex-btn-buy-0" mdbWavesEffect>BUY TOKENS
                            </button>
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col-2 text-right">
                                <img src="assets/img/generate-address.svg"
                                     class="Generate-Address">
                            </div>
                            <div class="col-10">
                                <p class="acex-steps-0-0">Generate Address</p>
                                <p class="acex-steps-0-1">Go to My wallet section. Depending on the currency you wish to
                                    buy your tokens against, click the deposit button. </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-2 text-right">
                                <img src="assets/img/deposit.svg"
                                     class="deposit">
                            </div>
                            <div class="col-10">
                                <p class="acex-steps-0-0">Deposit Funds</p>
                                <p class="acex-steps-0-1">Scan/Copy the barcode/address and transfer the currency from
                                    your personal wallet to it. Wait for the balance to reflect in your account. </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-2 text-right">
                                <img src="assets/img/buy-ace-x.svg"
                                     class="buy-ace-x">
                            </div>
                            <div class="col-10">
                                <p class="acex-steps-0-0" (click)="buyAcexTokens()">Buy Acex</p>
                                <p class="acex-steps-0-1">From the dashboard, select the currency you just deposited and
                                    enter the number of tokens you wish to buy. If there is sufficient balance, you can
                                    click the submit button. The number of tokens would reflect in your dashboard.</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-2 text-right">
                                <img src="assets/img/withdraw.svg"
                                     class="withdraw">
                            </div>
                            <div class="col-10">
                                <p class="acex-steps-0-0">Withdraw Acex</p>
                                <p class="acex-steps-0-1">To complete this step, approved KYC is mandatory. Since ACEX
                                    is an ERC20 contract, you can withdraw it to your ethereum wallets. Withdrawals
                                    would be disabled till the crowdsale is over. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
<!--Main Layout-->

<!-- modals -->
<!-- <button type="button" mdbBtn color="primary" class="relative waves-light" 
(click)="buyModal.show()" mdbWavesEffect>Launch demo modal</button> -->
<app-buy-tokens #buyAcex (successEvent)="recievedMessage($event)"></app-buy-tokens>