<app-homenavs></app-homenavs>
<!--Main Layout-->
<main class="main-div">

  <div class="container main-container">
      <div class="row" style="margin-top: 2%">
          <div class="col-md-12">

            <div class="card">
              <div class="card-body">
                
                 <div class="row">
                   <div class="col-5">
                      <p class="body-title referral">REFERRAL SCHEME</p>
                      <hr class="acex-hr">
                      <p class="body-desc">
                          For every investor who buys ACEX tokens, your wallet gets credited with 5% of the currency with which the tokens were purchased.
                      </p>
                   </div>
                   <div class="col-7">
                      <img src="assets/img/graphic.png" class="referral-img">

                   </div>
                 </div>
              </div>
            </div>
              
          </div>
      </div>
      <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
          <div class="col-md-12">

            <div class="card">
              <div class="card-body">
                <p class="body-title">REFERRAL HISTORY
                </p>
                <hr>
                <div class="row">
                  <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>col1</th>
                          <th>Col2</th>
                          <th>Col3</th>
                          <th>Col4</th>
                          <th>Col5</th>
                          <th>Col6</th>
                          <th>Col7</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td><td>@mdo</td><td>@mdo</td><td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td><td>@mdo</td><td>@mdo</td><td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td><td>@mdo</td><td>@mdo</td><td>@mdo</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
              
          </div>
      </div>
  </div>

</main>
<!--Main Layout-->
