<app-navs></app-navs>
<!--Main Layout-->
<main class="text-center py-5 main-content">

  <div class="container">
      <div class="row">
          <div class="col-md-2">
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h5 class="card-title acex-bond-text-0">Balances</h5>
                  <!--Text-->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
                  <div class="row">
                    <div class="col-5 text-left">
                      <p class="acex-balances">Ringgit</p>
                    </div>
                    <div class="col-7 text-right">
                      <p class="acex-balances">25000.00</p>
                    </div>
                    <div class="col-5 text-left">
                      <p class="acex-balances">BTC</p>
                    </div>
                    <div class="col-7 text-right">
                      <p class="acex-balances">0.00045</p>
                    </div>
                    <div class="col-5 text-left">
                      <p class="acex-balances">ETH</p>
                    </div>
                    <div class="col-7 text-right">
                      <p class="acex-balances">0.030045</p>
                    </div>
                  </div>
              </div>
            </div>
            <br>
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h5 class="card-title acex-bond-text-0">Markets</h5>
                  <!--Text-->
                  <p class="card-text text-left acex-markets">ETH/ Ringgit</p>
                  <p class="card-text text-left acex-markets">BTC/ Ringgit</p>
                  <p class="card-text text-left acex-markets">ETH/ Market</p>
                  <p class="card-text text-left acex-markets">BTC/ Market</p>
                  
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h5 class="card-title acex-bond-text-1">People Selling</h5>
                  <!--Text-->
                  <table class="table table-hover acex-table-people-selling">
                    <thead>
                      <tr>
                        <th><p class="acex-people-selling-0 text-left">PRICE (Ringgit)</p></th>
                        <th><p class="acex-people-selling-0 text-right">QUANTITY</p></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                      <tr>
                        <td><p class="acex-people-selling-cap text-left">25000</p></td>
                        <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <br>
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h5 class="card-title acex-bond-text-2">People Buying</h5>
                  <!--Text-->
                  <table class="table table-hover acex-table-people-selling">
                      <thead>
                        <tr>
                          <th><p class="acex-people-selling-0 text-left">PRICE (Ringgit)</p></th>
                          <th><p class="acex-people-selling-0 text-right">QUANTITY</p></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                        <tr>
                          <td><p class="acex-people-selling-cap text-left">25000</p></td>
                          <td><p class="acex-people-selling-cap text-right">1500025000</p></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                <div id="container" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
              </div>
            </div>
            <br>
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title acex-bond-text-0">Buy Sell</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                <div class="card">
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title acex-bond-text-0">Live History</h4>
                      <!--Text-->
                      <div class="card-text text-left">
                        <p>2 hr ago | 2.00 ETH</p>
                        <p>@ 53.000 Ringgit</p>
                      </div>
                      <div class="card-text text-left">
                        <p>2 hr ago | 2.00 ETH</p>
                        <p>@ 53.000 Ringgit</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="card">
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title acex-bond-text-0">My Open Orders</h4>
                      <!--Text-->
                      <div class="card-text text-left">
                        <p>2 hr ago | 2.00 ETH</p>
                        <p class="text-right">@ 53.000 Ringgit</p>
                      </div>
                      <div class="card-text text-left">
                        <p>2 hr ago | 2.00 ETH</p>
                        <p class="text-right">@ 53.000 Ringgit</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title acex-bond-text-0">Wallet</h4>
                    <!--Text-->
                    
                    <p class="card-text waves-light"  (click)="test1.toggle()" mdbWavesEffect>BTC</p>
                    <p class="card-text waves-light" (click)="test2.toggle()" mdbWavesEffect>LTC</p>
                    <p class="card-text waves-light" (click)="test3.toggle()" mdbWavesEffect>ETH</p>

                    <div class="" [mdbCollapse]="isCollapsed" #test1="bs-collapse">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <div class="" [mdbCollapse]="isCollapsed" #test2="bs-collapse">
                          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <div class="" [mdbCollapse]="isCollapsed" #test3="bs-collapse">
                      <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Deposit</a>
                      <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Withdraw</a>                                
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

</main>
<!--Main Layout-->