<app-homenavs></app-homenavs>
<!--Main Layout-->
<main class="main-div">

    <div class="container main-container">
        <div class="row main-row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body" *ngIf="user">
                        <p class="body-title">PROFILE</p>
                        <hr class="acex-hr">
                        <div class="body-desc">
                            <label class="acex-steps-profile">User Id: {{ this.user.profile.user_id }} </label>
                            <br>
                            <label class="acex-steps-profile">Name: {{ this.user.profile.name }}</label>
                            <br>
                            <label class="acex-steps-profile">Email: {{ this.user.profile.email }} </label>
                            <br>
                            <label class="acex-steps-profile">Created On: {{ this.user.profile.createdAt | date }}
                            </label>
                            <br>
                        </div>
                        <div>
                            <label class="acex-steps-profile">Status:
                                <ng-container *ngIf="this.user.kyc.kyc_status === -1">
                                    <span class="badge badge-info">KYC Not Uploaded</span>
                                </ng-container>
                                <ng-container *ngIf="this.user.kyc.kyc_status === 0">
                                    <span class="badge badge-primary">Verification Pending</span>
                                </ng-container>
                                <ng-container *ngIf="this.user.kyc.kyc_status === 1">
                                    <span class="badge badge-success">KYC Verified</span>
                                </ng-container>
                                <ng-container *ngIf="this.user.kyc.kyc_status === 2">
                                    <span class="badge badge-warning">Re-upload KYC</span>
                                </ng-container>
                                <ng-container *ngIf="this.user.kyc.kyc_status === 3">
                                    <span class="badge badge-danger">KYC Rejected</span>
                                </ng-container>
                            </label>
                            <br>
                            <ng-container *ngIf="userKycDocImgs !== []">
                                <div class="text-center" *ngFor="let imgSrc of userKycDocImgs">
                                    <br>
                                    <img class="image img-responsive img-rounded" [src]="imgSrc" alt="Profile Documents" />
                                </div>
                            </ng-container>
                        </div>
                        <!-- <div class="text-center">
                            <button disabled type="button" class="btn btn-sm btn-info btn-floating waves-effect">EDIT</button>
                        </div> -->
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">
                        <p class="body-title">KYC</p>
                        <hr class="acex-hr">
                        <div class="body-desc">

                            <div class="container">

                                <div class="row">

                                    <div class="docs_list">
                                        <div class="left_docs_out">
                                            <div class="doc_blocks">
                                                <p>Photo Guide</p>
                                                <ul class="star_style">
                                                    <li>Look straight into the camera</li>
                                                    <li>Your face and document information should be clearly
                                                        visible</li>
                                                    <li>Do not wear sunglasses, a hat or a headband</li>
                                                    <li>Photo should be recent</li>
                                                    <li>Photo should be in color</li>
                                                    <li>Image should be in high resolution (min 300 dpi)</li>
                                                </ul>
                                                <br>
                                                <p>Document Guide</p>
                                                <ul>
                                                    <li>Documents must be in the following format: jpg, png, gif, pdf</li>
                                                    <li>Documents must be scanned in color</li>
                                                    <li>Documents must be clearly visible</li>
                                                    <li>Selfie with the required IDs</li>
                                                </ul>
                                                <br>
                                                <p>
                                                    Required Documents
                                                </p>
                                                <ul>
                                                    <li>1.  Scanned copy of Gov issued ID (Passport, Others)</li>
                                                    <li>2.  Selfie holding the government issued ID</li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 image_upload">
                                                    <div class="file_upload" style="cursor: pointer;">
                                                        <input name="file" type="file" id="file1" class="uploadFile uploadFile1"
                                                            (change)="uploadKycDoc($event)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 image_upload">
                                                    <div class="file_upload" style="cursor: pointer;">
                                                        <input name="file" type="file" id="file2" class="uploadFile uploadFile2"
                                                            (change)="uploadKycDoc($event)" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="declaration">
                                        <div class="custom-control custom-checkbox mb-4">
                                            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                                            <label class="custom-control-label" for="defaultContactFormCopy">I hereby
                                                solemnly declare that the information
                                                provided is up-to-date and
                                                correct. The documents provided as proof of identity and proof of
                                                address
                                                has been self-attested. I authorize ACEX SDN. BHD. to verify the
                                                information
                                                provided to confirm its accuracy.
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="bottom_button_wrap" style="display:block; text-align:center; margin-left: auto; margin-right: auto;">
                                        <div class="text-center">
                                            <button type="submit" (click)="verifyKyc()" class="btn waves-light acex-btn-submit"
                                                mdbWavesEffect>Verify</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
<!--Main Layout-->