@import '../../assets/scss/variable.scss';

.main-div {
    margin-left: $marginLeftsideForAll; /* Same as the width of the sidenav */
    padding: 0px 10px;
    background-color: #fcfdff;
    background-color: var(--ice-blue);
}

.image {
  height: 10px;
  width: 50px;
}

// side btn
.acex-btn-buy-0 {
    width: 182px;
  height: 40px;
  border-radius: 28px;
  box-shadow: 5px 0 10px 0 #fff;
  background-color: #fff;
  border: solid 2px #1f8efa;
  color: #1f8efa;
  padding-top: 8px;
  font-weight: 600;
  float: right;
  margin-top: -10px;
//   border: solid 2px var(--clear-blue);
}

.body-title {
    font-family: Poppins;
  font-size: 16.2px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: 0.5px;
  color: #232d41;
}


// balances cards
div.card.acex-bal-card-0 {
    // width: 210.6px;
    height: 112.5px;
    border-radius: 9px;
    background-color: #242e42;
    box-shadow: -12px 13px 26px 0 rgba(25, 33, 48, 0.16);
}

p.acex-p-0 {
    width: 100%;
  height: 24px;
  font-family: Poppins;
  font-size: 14.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: var(--clear-blue);
  color: #1f8efa;
  margin-top:6px;
  margin-left: 2.5%;
}

p.acex-p-1 {
    width: 100%;
    height: 41px;
    font-family: Poppins;
    font-size: 25.2px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    // margin-top: 50px;
}



// buy steps
.acex-steps-0-0 {
    // width: 100%;
  height: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #272734;
  cursor: pointer;
  margin-top: 12px;
}

.acex-steps-0-1 {
    width: 100%;
    height: 26px;
    opacity: 0.5;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #272734;
}


.blocks
{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0px 4%;
  position: relative;
  z-index: 2;
}
.blocks_no
{
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #d4d0d0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 36px;
  color: #d4d0d0;
  background-color: white;
}
.green
{
  border: 2px solid #f2a73d;
  color: #f2a73d;
}
.blocks_no.green_bg
{
  border: 2px solid #f2a73d;
  background-color: #f2a73d;
  color: white;
}
.blocks_capt
{
  font-family: Montserrat-Light;
  margin-top: 20px;
  font-size: 15px;
}
.person_blk:after
{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #d4d0d0;
  top: 18px;
  z-index: -1;
}
.comp_blk:after
{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #d4d0d0;
  top: 18px;
  z-index: -1;
}
.blocks_no.green_bg:after
{
  background-color: #f2a73d;
}
.blocks_no.green_bg
{
  background-color: #f2a73d;
  color: white;
}
.content_wrap h2
{
  font-size: 26px;
  position: relative;
  color: #1b274a;
  margin-top: 35px;
  margin-bottom: 75px;
}
.content_wrap h2:after
{
  border-bottom: 2px solid;
  border-color: #dd9933;
  bottom: -25px;
  content: "";
  left: 0;
  position: absolute;
  width: 70px;
}
.content_wrap_ver
{
  padding: 0% 0%;
  background-color: #f2f2f3;
}
.content_wrap
{
  padding: 40px 7%;
  display: none;
}
.content_wrap_log
{
  width: 400px;
  margin: 50px auto;
}
#verify
{
  /*padding-top: 10%;*/
  padding-bottom: 3%;
  text-align: center;
}
.login_btn
{
  display: inline-block;
  background-color: #f2a73d;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 20px;
  font-family: Montserrat-Light;
  cursor: pointer;
}
.login_btn:hover
{
  background-color:  #1e2434;
}
.login_block{
  padding: 20px 30px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px 1px #ddd;
  display: none;
  background-color: white;
}
.login_block.active{
  display: block;
}
.login_block .text_box_wrap .text_box_full
{
  margin-bottom: 20px;
}
.log_wrap
{
  text-align: center;
  margin-top: 10px;
}
.frgt_link{
  font-size: 12px;
}
.frgt_link p{
  display: inline-block;
  cursor: pointer;
}
.content_navigation
{
  width: 100%;
  min-height: 30%;
  padding: 10% 0%;
  background-color: white;
  text-align: center;
}
.content_navigation p
{
  font-family: Montserrat-Light;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 0px;
}
.to_nav_tab
{
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px 1px #ddd;
  padding: 30px 40px;
  transition: all 0.5s;
}
.to_nav_tab:hover{
  /*background: #f2f2f2;*/
  box-shadow: 0px 0px 15px 2px #ddd;
  transform: scale(1.05);
}
/*.to_nav_tab:nth-child(1):after*/
/*{*/
/*height: 100px;*/
/*width: 1px;*/
/*background-color: black;*/
/*content: '';*/
/*position: absolute;*/
/*right: 0;*/
/*}*/

.text_box_left
{
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 48%;
}
.text_box_full
{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.text_box_right
{
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 49%;
}
.txt_bx input,select
{
  height: 30px;
  width: 94%;
  border: 1px solid #f1a12f;
  border-radius: 20px;
  padding: 1% 3%;
}
.txt_bx select
{
  height: 42px;
  width: 100%;
}
.txt_bx textarea{
  width: 94%;
  border: 1px solid #f1a12f;
  border-radius: 20px;
  padding: 1% 3%;
  height: 90px;
  resize: none;
}
.text_box_full input,select
{
  border-radius: 50px;
}
.text_desc {
  margin-bottom: 12px;
  font-size: 13px;
  text-transform: capitalize;
}

.text_box_wrap
{
  margin-bottom: 20px;
}
.terms_wrap input{
  height: auto;
  width:auto;
}
.terms_wrap label{
  font-size: 12px;
  font-family: Montserrat-Light;
}
.radio
{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  vertical-align: bottom;
}
.male_out
{
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
  font-family: Montserrat-Light;
}
.next_button
{
  display: inline-block;
  background-color: #f2a73d;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 20px;
  font-family: Montserrat-Light;
  cursor: pointer;
  width: 70px;
}
.next_button:hover
{
  background-color:  #1e2434;
}
.prev_button {
  display: inline-block;
  background-color: #888;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 20px;
  font-family: Montserrat-Light;
  cursor: pointer;
  width: 70px;
}
.prev_button:hover
{
  background-color:  #777;
}
.bottom_button_wrap
{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: right;
}
/*.personal_wrap*/
/*{*/
/*display: none;*/
/*}*/
.block {
  display: block !important;
}
.none {
  display: none !important;
}
.company_wrap
{
  display: none;
}
.documents_wrap
{
  display: none;
}
.docs_list
{
  font-family: Montserrat-Light;
  font-size: 14px;
  line-height: 23px;
}
.upload_wrap
{
  width: 100%;
  height: 190px;
  border: 1px solid #d9d9d9;
  margin-top: 35px;
  margin-bottom: 10px;
  position: relative;
}
.dropzone
{
  margin-top: 45px;
  margin-bottom: 45px;
}
.checked
{
  width: 11px;
  height: 11px;
  background-color: #f1a12f;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
  display: none;
}
.active .checked
{
  display: block;
}
.copy_right
{
  display: inline-block;
  font-family: Montserrat-Light;
  font-size: 13px;
}
.copy_blocks
{
  display: inline-block;
  padding: 0px 10px;
  font-family: Montserrat-Light;
  font-size: 13px;
  position: relative;
}
.copy_blocks:after
{
  position: absolute;
  content: '';
  height: 11px;
  width: 1px;
  top: 3px;
  background-color: #a7a9aa;
  right: 0;
}
.copy_links
{
  display: inline-block;
  float: right;
}
.docs_list span
{
  color: red;
}
/*thankyou page css start*/
.thankyou {
  text-align: center;
  padding-top: 5%;
}
.thankyou_image {
  width: 200px;
}
.thankyou_content {
  text-align: center;
}
.thankyou_content h2 {
  font-size: 23px;
  font-family: Montserrat-light;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.74);
}
.thankyou_content p {
  font-size: 18px;
  font-family: Montserrat-light;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.74);
  width: 90%;
  margin: auto;
}
