<app-homenavs></app-homenavs>
<!--Main Layout-->
<main class="main-div">

  <div class="container main-container">
      <div class="row" style="margin-top: 2%">
          <div class="col-md-6">

            <div class="card">
              <div class="card-body">
                <p class="body-title">PROFILE</p>
                <hr class="acex-hr">
                <div class="body-desc">
                  <label class="acex-steps-0-0">Name: {{ this.user.msg.name }}</label><br>
                  <label class="acex-steps-0-0">Email: {{ this.user.msg.email }}</label><br>
                  <label class="acex-steps-0-0">Mobile No: {{ this.user.msg.mobile }}</label><br>
                </div>
                <div class="text-center">
                  <button disabled type="button" class="btn btn-sm btn-info btn-floating waves-effect">EDIT</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="card">
              <div class="card-body">
                <p class="body-title">KYC</p>
                <hr class="acex-hr">  
                <div class="body-desc">

                  <div class="row">
                      <div class="content_wrap">

                          <div class="main_container">

                              <div>
                                  <h2>
                                      Required Documents
                                  </h2>

                                  <div class="docs_list">

                                      <div class="left_docs_out">
                                          <div class="doc_blocks">
                                              <p>Individual</p>
                                              <ul>
                                                  <li>Gov issued ID (Passport, Driver’s License, Other)</li>
                                                  <li>Selfie holding the government issued ID</li>
                                                  <li>Proof of Home Address (Utility Bill or Bank Statement) issued within the last 3 months containing your name on the account</li>
                                              </ul>
                                              <!-- - Gov Issued ID (Passport,Drivers License, Other)<br>-->
                                              <!-- - Selfie Picture of You Holding Gov Issued ID<br>-->
                                              <!-- - Proof of Home Address( Utility Bill or Bank Statement) issued within the last 3 months containing your name on the account-->
                                          </div>
                                          <div class="doc_blocks">
                                              <p>Document Guide</p>
                                              <ul>
                                                  <li>Documents must be in the following format: jpg, png, gif, pdf</li>
                                                  <li>Documents must be scanned in color</li>
                                                  <li>Documents must be clearly visible</li>
                                                  <li>Selfie with the required IDs</li>
                                              </ul>
                                              <!-- - Documents must be in the following format : jpg, png, gif, pdf<br>-->
                                              <!-- - Documents must be scanned in color <br>-->
                                              <!-- - Documents must be clearly visible<br>-->
                                              <!-- - Selfie with ID requirements<br>-->

                                          </div>

                                      </div>


                                      <div class="left_docs_out">
                                          <div class="doc_blocks">
                                              <p>Photo Guide</p>
                                              <ul class="star_style">
                                                  <li>Look straight into the camera</li>
                                                  <li>Your face and card information should be clearly visible</li>
                                                  <li>Do not wear sunglasses, a hat or a headband</li>
                                                  <li>Photo should be recent</li>
                                                  <li>Photo should be in color</li>
                                                  <li>Image should be in high resolution (min 300 dpi)</li>
                                              </ul>
                                          </div>
                                      </div>

                                      <!--<div class="doc_blocks">-->
                                      <!---->
                                      <!--</div>-->
                                  </div>
                                  <div class="image_upload">
                                      <div class="file_upload">
                                          <input name="file" type="file" id="files" class="uploadFile" onchange="angular.element(this).scope().imageUpload()"/>
                                      </div>
                                      <div class="add_new">Attach More</div>
                                  </div>

                                  <p>No. Of Documents Submitted: {{userImage.length}}</p>
                                  <!--<form class="dropzone" ng-model="data.images" id="my-awesome-dropzone"></form>-->

                                  <form style="display: none" action="http://" method="POST"  enctype="multipart/form-data" class="dropzone" id="my-awesome-dropzone">
                                      <input type="text" name="usersImage_users_unique_id" value="uniqueId">
                                      <div class="fallback">
                                          <input name="file" type="file" multiple id="" />
                                      </div>

                                      <input type="submit" value="Hello" />
                                  </form>
                                  <div class="declaration">
                                      <input type="checkbox" id="declaration" />
                                      <label for="declaration">I hereby solemnly declare that the information provided is up-to-date and correct. The documents provided as proof of identity and proof of address has been self-attested. I authorize CrypBrokers to verify the information provided to confirm its accuracy.
                                      </label>
                                  </div>

                                  <div class="bottom_button_wrap">
                                      <div class="next_button company go_btn" (click)="verifyDoc()">
                                          Verify
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="thankyou"  *ngIf="thankshow">
                          <div>
                              <img class="thankyou_image fa-thumbs-up" >
                          </div>
                          <div class="thankyou_content">
                              <h2>Thank You , {{user.firstName}}</h2>
                              <p>Thank you for providing your documents. We will notify you via email with updates regarding your KYC.</p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              
          </div>
      </div>
  </div>

</main>
<!--Main Layout-->
